.sliderfoto2{
    max-width: 100%;
    width: 100%;
    height: 800px;
    object-fit: cover;
    opacity: 1;
}


.swiper-button-prev, .swiper-button-next{
    color: white !important;
}

:root {
    --swiper-theme-color: white !important; 
}